body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.title {
    background-color: #1a1e44;
    height: 200px; /* Adjust the height as needed */
    width: 100%;
    text-align: center;
    padding: 40px;
    box-shadow: 0 64px 96px rgba(0, 0, 0, 0.2);
}

.titleText {
    color: white;
    font-size: 5em;
    margin-bottom: 10px;
}

#name {
    font-size: 20px;
    padding-left: 24px;
}

p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.browserbuttons {
    display: flex;
    gap: 10px;
}

.browser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 64px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    padding: 5px;
    gap: 10px;
    z-index: 1;
}

.button {
    /* text-align: end; */
    padding: 12px 24px;
    background-color: #1a1e44;
    color: white;
    text-decoration: dashed;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;        
}

.button:hover {
    background-color: #d9d9d9;
    border: 2px solid #1a1e44;
    border-color: black;
}
